.activePage {
    height: 1200px;
    background: bisque;
    width: 100%;
    align-items: flex-end;
    padding: 0 15px 15px 15px;
}
.messages {
    width: 100%;
    padding: 25px;
    height: 100%;
    background: cadetblue;
    overflow: auto;
}
