.mainPage {
    height: 500px;
    background: bisque;
    width: 100%;
    align-items: flex-end;
    padding: 0 15px 15px 15px;
}
.mainPahe__start {
    width: 100%;
    padding: 25px;
    height: 100%;
    background: cadetblue;
}
